body {
  background-image: radial-gradient(at 76% 0%, hsla(189, 100%, 56%, 0.36) 0px, transparent 50%), radial-gradient(at 1% 0%, hsla(340, 100%, 76%, 0.26) 0px, transparent 50%), radial-gradient(at 20% 100%, hsla(241, 100%, 70%, 0.47) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(232, 232, 253)
}

header {
  background-color: transparent !important;
}

:root {
  --color-active-menu-item: #cabeff !important;
}